@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Righteous&display=swap');


@keyframes close_contact{
	0%{transform:rotate(0deg);}
	50%{transform:rotate(360deg);}
	100%{transform:rotate(0deg);}
}

@keyframes skills_50{
	0%{box-shadow:inset 0 0 30px 3px rgba(255,255,255,0.7);}
	100%{box-shadow:inset 0 -30px 30px 3px rgba(255,255,255,0.7);}
}
@keyframes skills_70{
	0%{box-shadow:inset 0 0 30px 3px rgba(255,255,255,0.7);}
	100%{box-shadow:inset 0 -50px 30px 3px rgba(255,255,255,0.7);}
}
@keyframes skills_90{
	0%{box-shadow:inset 0 0 30px 3px rgba(255,255,255,0.7);}
	100%{box-shadow:inset 0 -70px 30px 3px rgba(255,255,255,0.7);}
}
@keyframes skills_95{
	0%{box-shadow:inset 0 0 30px 3px rgba(255,255,255,0.7);}
	100%{box-shadow:inset 0 -75px 30px 3px rgba(255,255,255,0.7);}
}

/*공통*/
html,body{width:100%;height:100%;}
body{font-family:'Libre Baskerville', serif;}
*{box-sizing:border-box;}


/*전체*/
/*공간배경*/
#wrap{width:100%;height:100%;
		background:url(../images/bg.png) no-repeat center;
		background-size:cover;
		position:relative;}
/*내부 직사각형*/
#contents_color{width:20%;height:50%;
				background:-webkit-linear-gradient(rgba(255,255,255,1), rgba(0,132,255,1));
				background:-o-linear-gradient(rgba(255,255,255,1), rgba(0,132,255,1));
				background:linear-gradient(rgba(255,255,255,1), rgba(0,132,255,1));
				position:absolute;
				top:50%;left:50%;
				transform:translate(-50%,-50%);
				z-index:0;
				font-size:50px;
				text-align:center;line-height:8em;}
/*contact*/
.contact{background-color:#ffffff;
		line-height:1em;
		font-size:2vw;z-index:20;}
.contact p.close_btn_contact{width:100%;margin-top:10%;text-align:right;}
.contact p.close_btn_contact span{cursor:pointer;padding:1%;
								font-family:Arial,sans-serif;
								font-size:5vh;
								line-height:5vh;}
.close_btn_contact:hover span{animation:close_contact 3s infinite;}

.contact_ani p{height:5vh;overflow:hidden;}
.contact_ani p span{display:block;font-size:10vh;text-align:left;
					text-indent:20px;}
.contact_ani p.contact_1{position:absolute;top:0;left:0;}
.contact_ani p.contact_1 span{margin-top:2.5vh;}
.contact_ani p.contact_2{clear:both;position:absolute;bottom:0;left:0;}
.contact_ani p.contact_2 span{margin-top:-2.5vh;}


.contact div.information{width:100%;text-align:left;height:100%;position:relative;z-index:50;margin-top:20%;}
.contact div.information ul{width:100%;padding-left:5%;padding-right:5%;}
.contact div.information ul li{float:left;padding-top:4%;}
.contact .name{text-indent:8.5em;font-size:3vw;}
.contact .name span{font-size:5vw;}
.contact .name a{color:#000000;}
.contact .email{font-size:1.5vw;margin-top:1%;}
.contact .email a{font-style:italic;color:#000000;}
.contact .github{font-size:3vw;padding-left:3%;font-weight:bold;}
.contact .github_link{font-size:1.5vw;margin-top:1%;}
.contact .github_link a{font-style:italic;color:#000000;}
.contact .github_icon{text-align:center;font-size:1.5vw;}
.contact .github_icon a{display:inline-block;}
.contact .github_icon a img{width:80%;height:auto;padding-top:3%;}
.contact .tel{font-size:1.5vw;padding-left:1%;}
.contact .tel a{font-style:italic;color:#000000;}


.contact{display:none;}

/*오른쪽벽*/
#wall{width:50%;height:100%;z-index:10;
	position:fixed;right:0;top:0;
	background-color:rgba(0,12,255,0.3);}

/*about페이지*/
#wall .about{width:50%;height:100%;
			position:fixed;
			z-index:20;
			top:-200%;right:0;
			background:rgba(103,103,103,0.8) url(../images/about.png) no-repeat right top;
			background-size:100%;}
.about p.close_btn{font-size:50px;text-align:right;
					padding:1%;
					cursor:pointer;
					font-family:Arial,sans-serif;}/*js*/
.about h1{width:100%;text-align:right;
			font-size:1.7vw;
			color:#000000;
			padding:2%;}
.about > p.job{width:100%;
			font-size:3vw;
			color:#000000;
			padding-top:6.5%;
			padding-left:50%;}
.about .skills h2{font-size:1.5vw;text-indent:8%;}

.skills ul{width:100%;padding:5%;padding-top:1%;
			overflow:hidden;
			text-align:center;}
.skills li{width:15%;height:0;padding-bottom:15%;border-radius:50%;
		float:left;color:rgba(103,103,103,1);
		font-weight:bold;
		font-size:1vw;
		margin:5%;
		margin-right:20%;}
.skills li:first-child{animation:skills_95 3s 1 ease-in;
						animation-fill-mode:forwards;animation-delay:2s;}
.skills li:nth-child(2){animation:skills_95 3s 1 ease-in;
						animation-fill-mode:forwards;animation-delay:2s;}
.skills li:nth-child(3){margin-right:0;
						animation:skills_90 3s 1 ease-in;
						animation-fill-mode:forwards;animation-delay:2s;}
.skills li:nth-child(4){clear:both;
						animation:skills_90 3s 1 ease-in;
						animation-fill-mode:forwards;animation-delay:2s;}
.skills li:nth-child(5){animation:skills_50 3s 1 ease-in;
						animation-fill-mode:forwards;animation-delay:2s;}
.skills li:last-child{margin-right:0;
					animation:skills_70 3s 1 ease-in;
					animation-fill-mode:forwards;animation-delay:2s;}
.skills li span{display:block;margin-top:100%;font-size:0.8vw;color:#000000;}



/*전체over되는 배경색*/
.bg_color{position:fixed;top:0;left:0;
		width:100%;height:100%;
		background-color:rgba(0,12,255,0.6);
		z-index:0;
		transition:all 0.3s ease-in-out;}

/*제목*/
.bg_color h2,.bg_color h3{font:bold 100px/1em 'Libre Baskerville', serif;
						color:blue;
						width:100%;height:auto;
						text-align:center;}
.bg_color h2{position:absolute;top:0;left:0;
			letter-spacing:3em;}
.bg_color h3{letter-spacing:3em;position:absolute;
			bottom:0;right:0;}

/*전체메뉴*/
#menu{width:30%;margin-top:20%;}
#menu li{width:30%;text-indent:40%;transition:all 0.3s ease-in-out;}
#menu li a{color:#ffffff;font-size:80px;}

